<% content_for(:title, "Find My Place | Welcome!") %>

<div class="container">
  <h1>Cities</h1>
  <ul>
    <div id='cities_container' class="well-lg">
      <% @cities.each do |city| %>
        <%= render 'city', city: city %>
        <%# render city %>
      <% end %>
    </div>
  </ul>

  <hr>

  <%= link_to "Add a New City", new_city_path, id:"new_city_link", remote: true %>

</div>
